/* inspired by: https://css-tricks.com/responsive-data-tables/ */
.responsiveTable {
    width: 50%;
    background-color: black;
    color: orangered;
    margin-left: auto;
    margin-right: auto; 
}

h1 {
    color: orangered;
    width: 49.8%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    border:1px solid orangered;
    padding-top: 25px;
    padding-bottom: 30px;
}

table {
    border-top:1px solid orangered; 
    border-right:1px solid orangered; 
    border-left:1px solid orangered; 
    border-bottom: 1px solid orangered;
    margin-top: -34px;
}

.CompareTable {
  border-top:1px solid orangered; 
  border-right:1px solid orangered; 
  border-left:1px solid orangered; 
  border-bottom: 1px solid orangered;
  margin-top: -200px;
  /* table-layout: fixed; */
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: calc(10px + 2vmin);
}

th {
  border-bottom: 1px solid orangered;
  font-size: calc(10px + 2vmin);
  color: orangered;
  width: 49.8%;
  background-color: black;
  margin-top: -200px;
  padding-top: 25px;
  padding-bottom: 30px;
  width: 50%;
  padding-right: 20px;

}

.border {
  border-bottom: 1px solid orangered;
}

.border1 {
  border-bottom: 1px solid orangered;
  text-align: center;
}

.bottom {
  text-align: center;
}

.Table2 {
  margin-top: 10px;
}
  
  .responsiveTable td .tdBefore {
    display: none;
  }

  td {
    width: 50%;
  }

caption{
  background-color: orangered;
  text-align: center;
  border-top: 1px solid black;
  border-left: 1px solid orangered;
  border-right: 1px solid orangered;
  font-weight: 500;
  font-size: calc(20px + 2vmin);
  color: black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.border {
  border-bottom: 1px solid orangered;
}

button {
  padding:15px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  margin-left: 25px;
  margin-bottom: 30px;
  background: black;
  color: orangered;
  border: 1px solid orangered;
}

  .stats-table {
      background-color: rgba(0, 0, 0, 0.0);
      margin-top: 230px;  
      height: 100%;
      padding-bottom: 200px;
      font-family: Helvetica, sans-serif;
    }
  
  @media screen and (max-width: 40em) {
    /*
      Force table elements to not behave like tables anymore
      Hide table headers (but not display: none;, for accessibility)
    */
  
    .responsiveTable table,
    .responsiveTable thead,
    .responsiveTable tbody,
    .responsiveTable th,
    .responsiveTable td,
    .responsiveTable tr {
      display: block;
    }
  
    .responsiveTable thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
      border-bottom: 2px solid #333;
    }
  
    .responsiveTable tbody tr {
      border: 1px solid #000;
      padding: .25em;
    }
  
    .responsiveTable td.pivoted {
      /* Behave like a "row" */
      border: none !important;
      border-bottom: 1px solid #000;
      position: relative;
      padding-left: 50% !important;
      text-align: left !important;
    }
  
    .responsiveTable td .tdBefore {
      /* Now like a table header */
      position: absolute;
      display: block;
  
      /* Top/left values mimic padding */
      left: 1rem;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left !important;
      font-weight: 600;
    }
  }