body {
  height: 100%;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
  url('https://wallpapercave.com/wp/wp3400358.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  height: 100%;
  background-size: cover;
  clear: both;
}

.App {
  text-align: center;
  height: 100%;
  flex-flow: column;
}

.App-header {
  height: 200px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: orangered;
  background-color: black;
  border-bottom: 1px solid orangered;
}

.Background {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
  url('https://wallpapercave.com/wp/wp3400358.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  padding-top: 200px;
  height: 100%;
  background-size: cover;
  clear: both;
}

img {
  width: 200px;
  height: 200px;
  position: relative;
  left: auto;
  background: white;
}

.bo4-logo {
  float: left;
  border-right: 1px solid orangered;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  padding:15px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  margin-left: 25px;
  background: black;
  color: orangered;
  border: 1px solid orangered;

}

.form {
  text-align: center;
  font-size: calc(10px + 2vmin);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.Error {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  text-align: center;
}

.header {
  width: 25%;
  font-size: calc(10px + 3vmin);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -155px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.loading {
  color: orangered;
  font-size: calc(30px + 3vmin);
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul.header {
  background-color:#2B2F3F;
  padding: 0;
  -webkit-box-shadow: 3px 7px 10px 0px rgba(45, 46, 67, 0.85);
  -moz-box-shadow:    3px 7px 10px 0px rgba(45, 46, 67, 0.85);
  box-shadow:         3px 7px 10px 0px rgba(45, 46, 67, 0.85);
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.active {
  background-color: #5EA1A6;
}

a {
  text-decoration: none;
  color: orangered;
}

a:visited {
  color: orangered;
}

a:hover, a:active {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.links{
  padding-right: 20px;
  color: orangered;
}

.stats, .about, .contact {
  background-color: rgba(0, 0, 0, 0.0);
  margin-top: 30px;  
  /* height: 100%; */
  padding-bottom: 200px;
}

.compare {
  background-color: rgba(0, 0, 0, 0.0);
  margin-top: 30px;  
  /* height: 100%; */
  max-height: 100px !important;
  padding-bottom: 200px;
}

li  {
  text-decoration: none;
  display: inline;
  padding-right: 20px;
  font-weight: 600;
}

/* loading animation */
@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  animation-delay: .2s;
}

.loading span:nth-child(3) {
  animation-delay: .4s;
}